.txwhite{color:white;}
.txsm{font-size:10px;}
.pad0{padding:0px;}
.padTOP_up100{padding:-100px 0 0 0;}
.mar0{margin:0px;}
.marlft20{margin:0 0 0 20px;}
.pad_T30{padding:30px 0 0 0;}
.mar_F10{padding:0 0 10px 0;}
.bord0{border-width:0px;}
.background_lent2{
	background-color:whitesmoke;
		position:relative;

}
  #myvideo{
	   right:0;
  bottom:0;
	  position:absolute;
	    background-size: cover; 

  }
.lent{
	 height: 100vh; 
	width:100%;
	margin:0px;
	position:relative;
}
.backgroundimg{
  height: 100%; 
  position:absolute;
  background-size: cover; 
  width:100%;
  z-index:-1;

}
.symvol{
	height: 100%;
	width:33%;
	max-height:300px;
	max-width:300px;
	background-size: cover; 
	float:left;
	z-index:1;
}
.headeer_lent_1{
	padding:20px 0 0  0;
}
.headeer_lent_1_btn{
float:right; text-align: center; color:white;padding:0px;
  outline: none;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  font-size:15px;
}
.btnleft{
	text-align:left;
	float:left;
}
.body_lent_1{
	margin:30px 0 0   0;
	color:whtie;
}

.boder_lent_2_btn{
float:right; text-align: center; color:white;padding:0px;
  font-size:15px;
}
.body_lent_2{
	max-height:90%;
	height:90vh;
}
.r{
	height:20%;
}
.r2{
	height:100%;
}
.card_lent2{
		height:60%;
	
}
.cont_lent_2{
	height:80%;
}
.lent3and4{
		position:relative;
	 min-height: 180vh; 
	 max-height: 280vh;
	width:100%;
	margin:0px;
}
.lent3and4_backimg{
		position:absolute;
	 height: 80vh; 
	width:100%;
	margin:0px;
	 z-index:-1;
}
.lent3_text{
	padding:100px 0 0 0;
	text-align:center;
	margin:0 0 5% 0;
}
.lent_block1{
	 min-height: 100vh; 
	 max-height: 200vh;
	width:100%;
	
	
	}
	.lent_block2{
	 height: 100%; 
	width:100%;
	margin:0px;
	max-height:50vh;
	}
.row_lent3and4{
	height:50%;
	max-height:100vh;
	
}
.pad15forrow{
	padding: 10px ;
	height:100%;

	
}
.text_block_row_lent3and4{
		 height: 100%; 
	width:100%;
	padding:5%;
}
.text_title_row_lent3and4{
	font-size:100px;
	color:goldenrod;
}
.text_body_row_lent3and4{
	max-width:80%;
	margin:0 0 0 10%;
	max-height: 50%; 
}
.btn-block1{
	height:100%;
	width:100%;
	outline: none;
  border: 0;
  box-shadow: none;
  background-color: whitesmoke;
}
.lent5{
	 height: 30vh; 
	width:100%;
	margin:0px;
	background-color:goldenrod;
	position:relative;
	padding:5% 0 0 0;
}
.textlent5{
	font-size:30px;
	color:white;
	text-align:center;

}
.lent6{
	min-height: 150vh; 
	max-height: 400vh; 
	width:100%;
	position:relative;
	padding:5%;
}
.block_lent6{
	min-height:550px;
	 height: 45vh; 
	width:100%;
	position:relative;
	padding:5%;
	
}
.btn_lent6{
		background-color:goldenrod;
border:none;
margin-top:20px;

}
.img_lent6{
  height: 100%; 
  background-size: cover; 
  width:100%;
  z-index:-1;
}
.lent7{
	height:100vh; 
	width:100%;
	position:relative;

}
.backimg_lent7{
		position:absolute;
	 height: 45vh; 
	width:100%;
	margin:0px;
	 z-index:-1;
}
.block_lent7{
	 height:45vh; 
	width:100%;
	position:relative;
	padding:5%;
	
}
.btn_lent7{
background-color:goldenrod;
border:none;
float:right;
width:100%;
margin-top:30%;

}
.footer{
	height: 45vh; 
	width:100%;
	padding:5%;
	padding-top:3%;
	background-color: whitesmoke;
}
.footer_text{
	
	width:100%;
	margin-top:5%;
	
}
.footer_symvol{
	height: 50px;
	width:50px;

	background-size: cover; 
	
}
.dungeon{
	height: 10vh; 
	width:100%;
background-color:goldenrod;
}